body {
  border: 25px solid #2B81AC;
  max-width: 1440px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 auto;
  color: #fff;

}

.container {
  background-color: #3399CC;
  align-content: center;
}

.header {
  display: flex;
  gap: 5px;
  padding: 25px 115px 0 115px;
  align-items: center;

  h1 {
    font-weight: 400;
    font-size: 20px;
  }

  .sunrise {
    width: 32px;
    height: 25px;

  }
}

main {

  .forecast {
    padding: 35px 108px;
  }

  ul {
    border: 2px solid #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;

    li {
      text-align: center;
      align-content: center;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 22px;
      height: 147px;
      transition: all 0.3s ease-in;

      img {
        width: 32px;
        height: 25px;
        vertical-align: middle;
      }
    }
  }
}

    li:hover,
    :not(:hover)>li {
      cursor: pointer;
      filter: saturate(1.5);
    }

footer {
  align-content: center;
  height: 100%;
  padding: 0 100px 0 100px;
  margin: 20px 0 40px 0;
}

.lisbon {
  background-color: #71B8DB;
  border: 2px solid #fff;
  width: 50%;
}

.paris {
  background-color: #71DBDB;
  border: 2px solid #fff;
  width: 25%;
}

.belgrade {
  background-color: #B894B8;
  border: 2px solid #fff;
  width: 25%;
}

.venice {
  background-color: #c46464;
  border: 2px solid #fff;
  width: 25%;
}

.telaviv {
  background-color: #EB9581;
  border: 2px solid #fff;
  width: 25%;
}

.cair {
  background-color: #FFDB94;
  border: 2px solid #fff;
  width: 25%;
}

.newyork {
  background-color: #B8DBB8;
  border: 2px solid #fff;
  width: 25%;
}

.newdelhi {
  background-color: #94B8B8;
  border: 2px solid #fff;
  width: 25%;
}

.sanfranc {
  background-color: #DB94B8;
  border: 2px solid #fff;
  width: 50%;
}

.tokyo {
  background-color: #71B894;
  border: 2px solid #fff;
  width: 25%;
}

.sydney {
  background-color: #9494B8;
  border: 2px solid #fff;
  width: 100%;
}